<template name="payanything">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
    <div class="content-scrollable" style="background-image: url(/img/background.jpg); background-size: cover;">
      <div class="wrapper-auth">
      

        <div class="heroandtext">
          <div class="herotext" style="font-color: white; display: inline-block; max-width: 300px; vertical-aign: top;">
            <h1 class="title-auth">PayAnything</h1>

            <h2 class="title-auth">
              Select Coin to Pay With
            </h2>
              <img src='/img/litecoin.jpg'>

            <div class="begin-qrcode-scan-button">
              <button class="btn-primary">SCAN BITCOIN QR CODE</button>
            </div>

            <p class="subtitle-auth" style="margin-top: 10px;" >
            Pay With Altcoins Anywhere Bitcoin is Accepted
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</template>