<template name="payanythingApprove">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
    <div class="content-scrollable" style="background-image: url(/img/background.jpg); background-size: cover;">
      <div class="wrapper-auth">
        <div class="heroandtext">
          <div class="herotext" style="font-color: white; display: inline-block; max-width: 300px; vertical-aign: top;">
            <h1 class="title-auth">Approve</h1>
            <p class="subtitle-auth" style="margin-top: 10px;" >
            <p>
              Pay <strong>{{altcoinamount}}</strong> {{altcointype}} to
            </p>
            <p style="text-align: left;">
             <strong>{{altcoinaddress}}</strong>
            </p>
            <p>
              {{cointype}} address: <i>{{coinaddress}}</i> will receive <strong>{{coinamount}}</strong> {{cointype}}
            </p>
            <div class="get-invited-button">
              <a class="btn-primary" href="{{altcoinuri}}">OPEN WALLET</a>
            </div>



            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>